@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     /*.cropper-crop {
         display: none;
     }
    .cropper-bg{
        display:none;
    } */
</style>

<div class="container">
    <div class="row panel panel-info">
        <div class="panel-heading">
            <h3 class="pl-4">
                Scan Meter Consumption
            </h3>
        </div>
        <div class="panel-body text-center">
            <div class="col-lg-6">
                <div class="well" style="position: relative;display: inline-block;">

                    <div id="my_camera"> </div>
                    <button class="btn btn-primary" style="margin-top:1rem" onclick="displayCameraForEnergyConsuptionCapture()">Start</button>
                    <button type=button value="Take Snapshot" onClick="take_snapshot()" style="margin-top:1rem" class="btn btn-primary">
                        Capture Meter Consumption
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well" style="overflow: hidden;">
                    <img width="320" height="240" id="results" src="">
                </div>
                <div>
                    <button class="btn btn btn-primary text-center" style="margin:5px 0px" id="getCroppedOCR"> Crop Consumption</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row panel panel-info">
        <div class="panel-heading">
            <h3 class="pl-4">
                Scan Barcode
            </h3>
        </div>
        <div class="panel-body text-center">
            <div class="col-lg-6">
                <div class="well" style="position: relative;display: inline-block;">

                    @*  <div id="my_camera"> </div>*@
                    <video id="stream" width="320" height="240"></video>
                    <div class="button-group">
                        <button id="btn-start" type="button" class="btn btn-primary">Start Streaming</button>
                        <button id="btn-capture" type="button" class="btn btn-primary">Capture Image</button>
                        <button id="btn-stop" type="button" class="btn btn-danger">Stop Streaming</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well" style="overflow: hidden;">
                    <canvas id="capture" width="320" height="240">
                    </canvas>
                    <div id="snapshot" hidden></div>
                    <div>
                        <button class="btn btn btn-primary" style="margin:5px 0px" id="getCropped"> Crop Barcode Meter</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">

        <div class="col-lg-12 text-center ">
            <button id="save" class="btn btn-primary btn-lg btn-block">Send</button>
            <p class=" text-danger errMsg"></p>
            <p class="succMsg text-success"></p>
        </div>

    </div>
</div>

<script>
</script>